@import "tailwindcss";

@theme {
  --color-color1: #ef7557;
  --color-color2: #f9dc5c;
  --color-color3: #ecf8fd;
  --color-color4: #829191;
  --color-color5: #212738;
}

button {
  @apply cursor-pointer;
}

.triangle {
  @apply [clip-path:polygon(50%_0%,0%_100%,100%_100%)];
}

.slide-right {
  transform: translateX(-100vw);
}

.slide-left {
  transform: translateX(100vw);
}

@keyframes hovering {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}
